SELECT 1 FROM TAB
WHERE EXITS (
	#foreach($entity in $entityList)
		#if($foreach.count > 1)
		AND
		#end
		(SELECT 1 FROM $entity.name
		WHERE 
		#foreach($column in $entity.columns)
			#if($foreach.count > 1)
				AND
			#end
			($column.LHS $column.condition $column.RHS)
		#end
		)
	#end
);